{% extends 'base.html' %}

{% block title %}My Vaults{% endblock %}

{% block content %}

<h2 class="mb-4">My Vaults</h2>

<div class="row">

    <a href="{% url 'add_vault' %}" class="btn btn-success mb-3">
        + New Vault
    </a>

    {% for vault in vaults %}

    <div class="col-md-4">

        <div class="card mb-3 shadow-sm">

            <div class="card-body">

                <h5>
                    <a href="{% url 'vault_detail' vault.id %}">
                        {{ vault.name }}
                    </a>
                </h5>

                <p>{{ vault.description }}</p>

            </div>

        </div>

    </div>

    {% empty %}

    <p>You don't have any vaults yet.</p>

    {% endfor %}

</div>

{% endblock %}