## .gitignore для C# / .NET

# Результати компіляції (Build)
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Специфічні файли Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# NuGet пакунки
*.nupkg
packages/

# ASP.NET Core (налаштування середовища)
appsettings.Development.json
appsettings.Local.json

# Rider / JetBrains IDE
.idea/
*.sln.iml

# Логи та тимчасові файли
*.log
.roslyn/