@use "./App.scss" as *;

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 14px 30px;
    background: $color-oldWood;
    border-radius: 0 0 20px 20px;

    /* LEFT */
    .nav-left {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-self: start;

        .email-btn {
            color: #E8E1D4;
            font-size: 16px;
            white-space: nowrap;
            background-color: $color-oldWood;
            border:none;
            cursor: pointer;
        }

        .silver-antique-text {
            color: #cfcfcf;
            cursor: pointer;
        }
    }

    /* CENTER */
    .logo {
        font-size: 28px;
        font-weight: 800;
        background: $text-gold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        justify-self: center;
        white-space: nowrap;
    }

    /* RIGHT */
    .nav-right {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-self: end;

        a {
            background: $text-silver;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            padding: 8px 14px;
            border-radius: 6px;
            font-size: 18px;
            transition: 0.2s;

            &.active {
                background: linear-gradient(135deg, #eaeaea, #ffffff, #bfbfbf);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .logOut-btn {
            background-color: $color-bordo;
            border: none;
            padding: 10px 14px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
        }

        .admin-wrapper {
            display: flex;
            gap: 16px;

            .admin-dropdown {
                position: relative;
                display: inline-block;

                .admin-select {
                    background: transparent;
                    border: none;
                    color: #e8e1d4;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &:hover {
                        color: #ffd700;
                    }
                }

                .arrow {
                    font-size: 12px;
                    transition: transform 0.2s ease;
                }


                &:has(.dropdown-menu) .arrow {
                    transform: rotate(180deg);
                }

                .dropdown-menu {
                    position: absolute;
                    top: calc(100% + 10px);
                    right: 0;

                    min-width: 180px;
                    background: #2b2b2b;
                    border-radius: 12px;
                    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
                    padding: 8px 0;
                    z-index: 1000;

                    animation: dropdownFade 0.2s ease;
                }

                .dropdown-item {
                    display: block;
                    padding: 10px 16px;
                    color: #e8e1d4;
                    text-decoration: none;
                    font-size: 14px;
                    transition: background 0.2s ease;

                }
            }

            @keyframes dropdownFade {
                from {
                    opacity: 0;
                    transform: translateY(-5px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

}